<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cityworks API</title>
    <meta
      name="description"
      content="Cityworks API for https://cityworks.com/"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='/globals.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css')}}" />
  </head>
  <body>
    <main class="content">
      <article class="about">
        <h1 class="title">Cityworks API</h1>
        <p>
          CityWorks es una herramienta tecnológica que permite a las autoridades
          encargadas de la construcción y mantenimiento de infraestructuras
          públicas administrar de manera eficiente y efectiva los recursos y
          procesos involucrados en proyectos de construcción y mantenimiento de
          obras públicas, como carreteras, puentes, edificios gubernamentales,
          sistemas de agua y alcantarillado, entre otros.
        </p>
        <a class="link" href="http://localhost:3000/"> Ir a Cityworks</a>
      </article>
    </main>
  </body>
</html>
